<style type="scss/text">
div, p { transition: opacity .150s, color .150s; }

#hud { opacity:.01; position:fixed; font-family:'consolas'; font-size:1.5vh; cursor:copy ; }
#hud:hover { opacity:2.00; }

/*.fonted pre { font-family: 'Princess Sofia'; font-size: 2vh; font-weight: lighter; }*/
/*.fonted pre { font-family: 'Tangerine' !important; font-size: 5vh; }*/
/*.fonted pre { font-family: 'Satisfy' !important; font-size: 2vh; }*/
/*.fonted pre { font-family:'Kalam' !important; font-size:2vh; }*/
.fonted pre { font-family:'calibri' !important; font-size:2vh; }

.entry { color:#c0c0c0; margin-top:2vh; overflow:hidden; white-space:pre-line; font-weight:100; }
.entry.last { color:#777; }

.option { display:block; cursor:pointer; color:#578; margin-bottom:4vh; font-weight:100; }
.option:hover { color:#EC6; }

#journal { display:flex; justify-content:flex-end; flex-direction:column; width:100%; cursor:default; }
/*#options { }*/

#journal-content { padding:7vh 4vh; }
#options-content { padding:7vh 4vh; }

#separator { opacity:.06; }
#separator{ width:100%; position:absolute; -webkit-transform:translate(0, -50%); pointer-events:none; }
#separator img {
  display: block;
  max-width:510px;
  max-height:255px;
  min-width:170px;
  min-height:85px;
  width: 50vw;
  height: 25vw;
}
</style>

<p id="hud">
  🕓 {{game.getTime() | date:'H:mm:ss.SSS'}}
  <br/>
  🗺 {{game.getCurrentNode()}}
</p>

<div style="text-align:center" (click)="onChange()"
     id="main" #main >

  <div id="journal"
       [style.minHeight]="getHalfWindowHeight()"
       class="fonted">
    <div id="journal-content">
      <pre *ngFor="let entry of game.journal; let i = index"
  	       [class.last]="i==game.journal.length-1"
  	       class="entry">{{entry}}</pre>
    </div>
  </div>

  <div align="center" id="separator">
    <img src="{{imgurl}}" width="340" height="170"  #separator>
  </div>

  <div id="options"
       [style.minHeight]="getHalfWindowHeight()"
       class="fonted">
    <div id="options-content">
      <pre *ngFor="let option of game.options; let i = index"
         (click)="game.selectOption(i)"
         class="option">— {{option.t}} —</pre>
    </div>
  </div>

</div>